<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		
		<!-- Parâmetros de configuração -->
		<add key="browser" value="Firefox"/>
		<add key="platform" value="Android"/>
		<add key="deviceName" value="Celular"/>

		<!-- Parâmetros da aplicação -->

	</appSettings>
	
</configuration>